[Unit]
Description=PostgreSQL Activity Snapshot to Datadog Timer
Documentation=https://www.postgresql.org/docs/current/monitoring-stats.html

[Timer]
# Run every 5 seconds
OnBootSec=10s
OnUnitActiveSec=5s
AccuracySec=1s

[Install]
WantedBy=timers.target
